{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         Welcome to The Coffee Connoisseur, your ultimate guide to the finest coffee experiences 
         in Ealing Broadway. Our mission is to explore, profile, and review the best coffee shops 
         in this vibrant part of London.
        </p>
        <p>
          At The Coffee Connoisseur, we believe that a great coffee experience goes beyond 
          just the drink itself. It's about the ambiance, the service, and the overall vibe 
          that a coffee shop exudes.
        </p>
        <p>
          We invite you to become a part of our ever-growing community of coffee aficionados. 
          Whether you're a local resident or a visitor to Ealing Broadway, your input is 
          invaluable to us. Share your thoughts, experiences, and ratings of the coffee 
          shops you've visited, and help us curate the ultimate guide to the best brews in town.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
