{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post.name }}</h1>
          <h2 class="subheading">{{ post.subtitle }}</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post.body|safe }}
        <h3>Reviewed on {{  post.date  }}</h3>          
          {{ post.review_para_1|safe }}
          <img src="{{  post.review_img_1  }}" class="img" alt="Review Image 1"/>
          {{ post.review_para_2|safe }}
          <img src="{{  post.review_img_2  }}" class="img mb-5" alt="Review Image 2"/>         
        <h2>Location</h2>
        <div class="map-container">
          <iframe
            src="{{  post.map_url  }}" 
           
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        <h2>Vital Statistics</h2>
        <ul>
          <b>Address:</b> {{ post.location }}
        </ul>
        <ul>
          <b>Plugs:</b> {{ post.has_sockets }}
        </ul>
        <ul>
          <b>Toilet:</b> {{ post.has_toilet }}
        </ul>
        <ul>
          <b>Wifi:</b> {{ post.has_wifi }}
        </ul>
        <ul>
          <b>Seats:</b> {{  post.seats  }}
        </ul>
        <ul>
          <b>Coffee Price:</b> {{  post.coffee_price  }}
        </ul>

        {% if current_user.id == 1 %}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{url_for('edit_post', post_id=post.id)}}"
            >Edit Post</a
          >          
        </div>
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{url_for('delete_post', post_id=post.id) }}"
            >Delete Post</a
          >
        </div>
        {% endif %}
        
        <!-- Button to open the modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
      Leave a Comment
  </button>

  <!-- Modal Structure -->
  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="commentModalLabel">Leave a Comment</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <!-- Comments Area -->
                  <!-- Load the CKEditor -->
                  {{ ckeditor.load() }}
                  <!-- Configure it with the name of the form field from CommentForm -->
                  {{ ckeditor.config(name='comment_text') }}
                  <!-- Create the wtf quick form from CommentForm -->
                  {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
              </div>
          </div>
      </div>
  </div>
        <div class="comment pt-5">
          <ul class="commentList">
            <!-- Show all comments -->
            {% for comment in post.comments: %}
            <li>
              <div class="commenterImage">
                <img
                  src="{{ comment.comment_author.email | gravatar }}"
                />
              </div>
              <div class="commentText">
                {{comment.text|safe}}
              <div class="star-rating">
                {{ comment.rating | star_rating }}
              </div>
                <span class="sub-text">{{comment.comment_author.name}}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</article>

{% include "footer.html" %}
